body{
    font-family: 'Montserrat', sans-serif;
}
.focus-container{
    background-color: rgb(28, 28, 28);
    opacity: 0.85;
}
::placeholder{
    text-align: center;
}
.new-card {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

.card{
    background-image: linear-gradient(to bottom right, 
    #fafaf7
    , #b8e2ff);
    border: 1px solid #0079cc;
}
input,textarea{
    border: 1px solid #0079cc;
}

button{
    border: 1px solid #0079cc;
    background-color: #b8e2ff;
}

#main button :hover{
    background-color: #152896;
}
#main button span :hover{
    background-color: #b8e2ff;
}